@media all and (orientation: portrait) {
    .mobile-landscape {
        display: none;
    }
    .home-page {
        width: 100vw;
        height: 100vh;
        background-image: url('../images/homeBackgroumd.gif');
        background-size: 55%;
        background-repeat: repeat;
        background-position: center;
    }
    .home-title {
        position: absolute;
        top: 3vh;
        font-family: Pokemon;
        font-size: 15vw;
        color: rgb(255, 174, 208);
        text-shadow: 10px 5px 15px rgb(75, 75, 75);
        -webkit-text-stroke: 1.5px rgb(109, 233, 255);
        text-align: center;
    }
    .home-pikachu {
        position: absolute;
        top: 20vh;
        left: 27.5%;
        width: 55vw;
        height: auto;
    }
    .home-pokeBubble {
        position: absolute;
        top: 63vh;
        left: 2.5%;
        width: 95vw;
        height: 15vh;
        background-image: url('../images/pokebubbleDesktop.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .typewriter-container {
        position: absolute;
        top: 1vh;
        left: 6.1%;
        height: 13vh;
        width: 83.2vw;
        background-color: rgb(255, 203, 225);
        border-radius: 5px;
    }
    .typewriter {
        padding: 2vw;
        font-family: PressStart;
        font-size: 4vw;
        line-height: 1.2;
    }
    .home-button {
        font-family: PressStart;
        font-size: 6vw;
        position: absolute;
        top: 90vh;
        left: 10%;
        width: 80%;
        border: 2px solid black;
        background-color: rgb(200, 248, 247);
        border-radius: 50px;
        padding-top: 3vw;
        padding-bottom: 3vw;
    }
    .desktop-home-page {
        display: none;
    }
}

@media all and (orientation: landscape) and (min-width: 0px) and (min-height: 0px) {
    .home-title {
        display: none;
    }
    .home-pikachu {
        display: none;
    }
    .mobile-landscape {
        position: absolute;
        top: 35vh;
        left: 10%;
        width: 80%;
        text-align: center;
        font-size: 2.5vw;
        font-family: PressStart;
    }
    .home-page {
        width: 100vw;
        height: 100vh;
        background: url('../images/pokemon-pikachu.jpg'), linear-gradient(rgb(255, 149, 10), rgb(255, 208, 0));
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    .typewriter {
        display: none;
    }
    .home-button {
        display: none;
    }
}

@media all and (orientation: landscape) and (min-width: 1100px) and (min-height: 500px) {
    .home-title {
        display: none;
    }
    .typewriter {
        display: none;
    }
    .home-button {
        display: none;
    }
    .mobile-landscape {
        display: none;
    }
    .home-page {
        display: none
    }
    .desktop-home-page {
        width: 100vw;
        height: 100vh;
    }
    .desktop-home-title {
        font-family: Pokemon;
        position: absolute;
        left: 10%;
        font-size: 7vw;
        color: rgb(131, 48, 0);
        -webkit-text-stroke: 1.5px rgb(255, 145, 0);
        margin: -5%;
    }
    .desktop-title2 {
        font-family: PassionOne;
        position: absolute;
        top: 25vh;
        left: 5%;
        font-size: 2.5vw;
        color: orange;
        text-shadow: 0px 0px 15px rgb(168, 54, 2);
    }
    .desktop-home-button {
        font-family: PressStart;
        font-size: 2vw;
        position: absolute;
        top: 85vh;
        left: 35%;
        width: 30%;
        border: 5px solid black;
        background-image: url('../images/fire.gif');
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50px;
        padding-top: 1vw;
        padding-bottom: 1vw;
        cursor: pointer;
    }
}